/**Letra general Voces**/
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300&family=Voces&display=swap');
/**para mi nombre Radio Canada**/
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300&display=swap');
*{
   margin: 0%;
   padding: 0;
   box-sizing: border-box;}
a{
    text-decoration: none;}
body{
   font-family: 'Voces', sans-serif;
   background: url(https://fondosdepantallaymuchomas.files.wordpress.com/2012/02/21.jpg);
   font-size: 2rem;}
nav {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #ffffff;
        z-index: 99;
        font-family: 'Voces', sans-serif;
        font-size: 1.5rem;}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    }
.navbar a:hover,
nav a.link{
   background-color: #DEB1B9;/**color al click a en navbar**/
   border-radius: 20%;
   transition: ease-in .3s; /**tiempo de transición del color**/}

   .section{
    margin-top: 30px;
   }
  .section__container {
    min-height: 100vh;
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;}
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;}
  .subtitulo {
    letter-spacing: 2px;
    color: #F5F5F5;;
    font-weight: 600;
    margin-bottom: 0.5rem;
    padding-top: 50px;
  }
  .titulo {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: #F5F5F5;
    margin-bottom: 1rem;
  }
  .titulo span {
    font-weight: 600;
    color: #5E0D0D;
    font-family: 'Voces', sans-serif;
  }
  .descripcion {
    line-height: 3rem;
    color: black;
    margin-bottom: 2rem;
    font-family:'Voces', sans-serif;
    font-size: 1.5rem;
  }
  .action__btns {
    display: flex;
    gap: 1rem;
  }
  .action__btns button {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
  }
  .portfolio {
    background-color:rgb(255, 255, 255);
  }
  .portfolio:hover {
    background-color: #5E0D0D;
    color: #ffffff;
  }
  .image {
    display: grid;
    place-items: center;
  }
  .image img {
    width: min(25rem, 90%);
    border-radius: 100%;
  }
  @media (width < 768px) {
    nav .checkbox {
      display: block;
    }
ul {
      position: absolute;
      width: 100%;
      height: calc(100vh - 85px);
      left: -100%;
      top: 85px;
      flex-direction: column;
      justify-content: center;
      gap: 3rem;
    }
ul li a {
        font-size: 1.25rem;
      }
      .section__container {
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
      }
      .image {
        grid-area: 1/1/2/2;
      }
      .action__btns {
        margin: auto;
      }
    }

    .habil{
        font-size: 3rem;
        color: #5E0D0D;
    }


.container{
  background: linear-gradient(40deg, #F6E2F3, #d58bca);
  border-radius: 2%;
}

#galeria .col-lg-4{ /*el # porque estoy llamando un id*/
    margin: 0;
    padding: 80px;
}

#galeria img{
    width: 50%;
    max-width: 150px;
}
/*#galeria img:hover{aqui se crea una animacion para el color, resalta el borde
    border: 5px solid rgb(255, 75, 105);
}**/
.carrusel{
    padding: 10%;
}

#btnEnviar{
    border: none;
    width: 150px; 
    height: 50px; 
    font-size: 20px;
    padding: 10px 20px;
    align-items: center;
    display:row;
    background-color: #BF74CB;
    color: #ffffff;
}

#btnLimpiar{
border: none;
width: 150px; 
height: 50px; 
font-size: 20px;
padding: 10px 20px;
margin-top: 10px;
margin-bottom: 10px;
/* margin-right:100%;*/
align-items: center;
display:row;
background-color: #BF74CB;
color: #ffffff;
}

.footer{
    text-align: center;
    background-color: #F5F5F5;
    padding: 20px;
    margin-top: 10px;
}

